<%- include partials/header.ejs %>
<!--Author: Christian Simpson-->
<!--File Name: about.ejs-->
<!--Web Site: christiansimpson.azurewebsite.net-->
    <div class="container">
        <div class="col-sm-4">
            <h1>About Me</h1>
        </div>
    </div>
    <!--This is to keep all webpages similar and looking neat-->
    <div class="jumbotron">
    	<div class="container">

        <!--Each paragraph is ssplit into a separate coloumn which make it easier to read and it looks neater-->
    	<div class="col-sm-6">	
        <h2>Who is Me?</h2>
    		<p class="text-justify">
          My name is Christian Simpson and I am 19 years old and I love anything to do with computers thats why I am in the computer programming course. I am currently living in an appartment with 4 other of my friends. I usually in my spare time play video games of all kinds. i think of it like this, if a game is fun I will play it other than that I will try to practice coding as often as I can.
        </p>
    	</div>

      <div class="col-sm-6"> 
        <h2>My Expiriences</h2>
        <p class="text-justify">
         I have experience with Java, HTML/CSS, Javascript, C#, mySQL, PHP, and and currently learning the MEAN stack or Mongo DB, Express, Angular, Node.js

         I have also had experience with mainframes and even had a Coop with BMO and worked as a junior Analyst there. I had to learn a new coding language called REXX in order for me to code organizational scripts for them.
        </p>      
      </div>

    </div>
   	</div>
<%- include partials/footer.ejs %>
