<%- include partials/header.ejs %>
<!--Author: Christian Simpson-->
<!--File Name: services.ejs-->
<!--Web Site: christiansimpson.azurewebsite.net-->
    <h1>Services</h1>
    <div class="jumbotron">
    	<div class="container">
        <!--Here is where i put a picture to the left of the text to make it nicer to look at however the pictures them selves need some work-->
        <div class="media">
          <div class="media-left"
            <a href="#">
            <img class="media-object" src="https://s3-us-west-2.amazonaws.com/taywils.me.static.files/images/java.png" alt="Java"/>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Java</h4>
            one of the services I offer is using Java i can make many different apps for any kind of program you may need
          </div>
        </div>

      <div class="media">
        <div class="media-left"
          <a href="#">
            <img class="media-object" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/64/Apps-HTML-5-Metro-icon.png" alt="Java"/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">HTML/CSS</h4>
          I also offer website building. if you run your own business or just need your previous one updated then I can help out.
        </div>
      </div>

      <div class="media">
        <div class="media-left"
          <a href="#">
            <img class="media-object" src="http://rbwhitaker.wdfiles.com/local--files/tutorial-icons/CSharpIcon.png" alt="Java"/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">C#</h4>
          If you need to make a GUI or graphical user interface for a product then contact me to help you if you need it
        </div>
      </div>

      <div class="media">
        <div class="media-left"
          <a href="#">
            <img class="media-object" src="https://nr-platform.s3.amazonaws.com/uploads/platform/published_extension/branding_icon/200/php-logo-64x64.png" alt="Java"/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">PHP</h4>
          If you need help making the back end of a site safe then i can help out with that. 
        </div>
      </div>
      <!--end of media objects-->
    </div>
   	</div>
<% include partials/footer.ejs %>
