<%- include ./partials/header.ejs %>
<!--Author: Christian Simpson-->
<!--File Name: contact.ejs-->
<!--Web Site: christiansimpson.azurewebsite.net-->
    <div class="container">
        <div class="col-sm-4">
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="jumbotron">
    	<div class="container">

        <!--This is where i split the page into 2 columns to organize the data better-->
        <div class="col-sm-6">

          <!--I wanted to try to make each page its own unique element of bootstrap so i could get more xperience out of it that is why i chose panels for this page-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Emails
            </div>
            <div class="panel-body">
              ChristianRSimpson25@gmail.com
            </div>
            <div class="panel-body">
              200294886@student.georgianc.on.ca
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Work Phone
            </div>
            <div class="panel-body">
              519-215-2127
            </div>
            <div class="panel-body">
              Well my only phone number really
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Address
            </div>
            <div class="panel-body">
              148 Bellfarm Rd Barrie Ontario
            </div>
          </div>
        </div>


   	  </div>
    </div>

    <% include ./partials/boot.ejs %>
<% include ./partials/footer.ejs %>
