<% include partials/header.ejs %>
<!--Author: Christian Simpson-->
<!--File Name: index.ejs-->
<!--Web Site: christiansimpson.azurewebsite.net-->
    <div class="container">
        <div class="col-sm-4">
            <h1>Home</h1>
        </div>
    </div>
    <!--Put everything in a jumbotron to make it nice and easy to see-->
    <div class="jumbotron">
    	<div class="container">
    	<p>	
        <div class="container text-center">
          <div >
            <img class="img-rounded" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12118599_512233075619940_5379913820730520339_n.jpg?oh=a2df5200f7d7fb0dcd30704fab622d11&oe=56A38589" alt="Christian Simpson" height="200"/>
          </div>
              <p class="navbar-text">
                Welcome to my webpage. 
                Enjoy your stay 
                feel free to check me 
                out at the links at the   
                bottom and learn about 
                some projects that I 
                currently have ongoing 
                or are done. 
              <p> 
        </div>
      </div>
   	</div>
    
    <% include partials/boot.ejs %>
<% include partials/footer.ejs %>
